{% extends "_root.html" %}
{% load staticfiles %}


{% block body %}
 <div id="wrapper">


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="margin:61px 0 20px">Portfolio</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Total Portfolio Fund
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div id="donutchart"  class="flot-chart-content"></div>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

             <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sub Summary
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="piechart" ></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


                <!-- /.col-lg-6 -->

                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock body %}



{% block myscript %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Flot Charts JavaScript -->
    <script src="{% static "common/bower_components/flot/excanvas.min.js" %}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.js"%}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.pie.js" %}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "common/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js" %}" ></script>





    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ fixed_income|safe}});

        var options = {
          title: 'Fixed Income',
          legend: 'none',
          pieSliceText: 'label',
          slices: {  4: {offset: 0.2},
                    12: {offset: 0.3},
                    14: {offset: 0.4},
                    15: {offset: 0.5},
          },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>



    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{ top_data|safe }});

        var options = {
          title: 'Total Portfolio Fund',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>


{% endblock myscript %}

