{% extends "_root.html" %}
{% load staticfiles %}


{% block body %}
 <div id="wrapper">


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="margin:61px 0 20px">Portfolio</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">


                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Comparasion
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id='chart_div' style='width: 900px; height: 400px;'></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>


               <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Comparasion
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>


                <!-- /.col-lg-6 -->

                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock body %}



{% block myscript %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Flot Charts JavaScript -->
    <script src="{% static "common/bower_components/flot/excanvas.min.js" %}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.js"%}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.pie.js" %}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "common/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js" %}" ></script>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}"></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotationchart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');

        data.addColumn('number', 'Total');
        data.addColumn('string', 'item title');
        data.addColumn('string', 'item text');

        data.addColumn('number', 'Mine');
        data.addColumn('string', 'item2 title');
        data.addColumn('string', 'item2 text');

        data.addColumn('number', 'Other');
        data.addColumn('string', 'item3 title');
        data.addColumn('string', 'item3 text');

        data.addRows([
          [new Date(2014, 2, 15), 1.5, undefined, undefined,
                                  0.6, undefined, undefined],

          [new Date(2014, 2, 16), 1.2, 'Lalibertines', 'First encounter',
                                  0.7, undefined, undefined],

          [new Date(2014, 2, 17), 0.4, 'Lalibertines', 'They are very tall',
                                  2.9, 'Gallantors', 'First Encounter'],
          [new Date(2014, 2, 18), 6.5, 'Lalibertines', 'Attack on our crew!',
                                  3.0, 'Gallantors', 'Statement of shared principles'],
          [new Date(2014, 2, 19), 1.0, 'Lalibertines', 'Heavy casualties',
                                  0.9, 'Gallantors', 'Mysteries revealed'],
          [new Date(2014, 2, 20), 2.3, 'Lalibertines', 'All crew lost',
                                  5, 'Gallantors', 'Omniscience achieved']
        ]);

        var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

        var options = {
          displayAnnotations: true
        };

        chart.draw(data, options);
      }
    </script>
{% endblock myscript %}

