{% extends "_root.html" %}
{% load staticfiles %}


{% block body %}
 <div id="wrapper">


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="margin:61px 0 20px">Portfolio</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">


                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Archive
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id='chart_div' style='width: 900px; height: 400px;'></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>



                <!-- /.col-lg-6 -->

                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock body %}



{% block myscript %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Flot Charts JavaScript -->
    <script src="{% static "common/bower_components/flot/excanvas.min.js" %}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.js"%}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.pie.js" %}" ></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "common/bower_components/flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "common/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js" %}" ></script>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}"></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotationchart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');

        data.addColumn('number', 'Industry');
        data.addColumn('string', 'item title');
        data.addColumn('string', 'item text');

        data.addColumn('number', 'Mine');
        data.addColumn('string', 'item2 title');
        data.addColumn('string', 'item2 text');

          data.addColumn('number', 'Other Clients');
        data.addColumn('string', 'item3 title');
        data.addColumn('string', 'item3 text');



        data.addRows([
          [new Date(2015, 1, 1), 2.5, undefined, undefined,
                                  3.6, 'Your portfolio is initialized', undefined,
                                  4.0, undefined, undefined],

          [new Date(2015, 2, 1), 2.6, 'Money markets plunge', 'Investors become more confident',
                                  3.8, undefined, undefined,
                                  4.1, undefined, undefined],

          [new Date(2015, 3, 1), 3.0, undefined, undefined,
                                  4.0, undefined, undefined,
                                  4.5, undefined, undefined],

          [new Date(2015, 4, 1), 3.4, undefined, undefined,
                                  4.3, undefined, undefined,
                                  4.6, undefined, undefined],

          [new Date(2015, 5, 1), 3.2, 'Slight drop', 'The industry experiences the first decline in this year',
                                  4.9, 'Boost', 'With higher ratio of investment in technology and service stock, your portfolio performs well',
                                    4.4,undefined, undefined],

          [new Date(2015, 6, 1), 3.4, undefined, undefined,
                                  5, undefined, undefined,
                                4.6,undefined, undefined]
        ]);

        var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

        var options = {
          displayAnnotations: true
        };

        chart.draw(data, options);
      }
    </script>
{% endblock myscript %}

