{% extends "_root.html" %}
{% load staticfiles %}

{% block mystyle %}
{# keep this order! #}
<!-- <link rel="stylesheet" href="{% static 'home/css/home.css' %}"> -->
<link rel="stylesheet" href="{% static 'feed/css/_reset_.css' %}">
<link rel="stylesheet" href="{% static 'feed/css/_style_.css' %}">
<script src="{% static 'feed/js/_modernizr_.js' %}"></script>
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock mystyle %}

{% block myscript %}
<script src="{% static 'feed/js/_main_.js' %}"></script>
<script src="{% static 'feed/js/feed.js' %}"></script>
<script>
    loadActivities();
</script>
<script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock myscript %}

{% block body %}

    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-9">
            <div id="feed"></div>
        </div>
    </div>

    {% include 'chat/_chat.html' %}

{% endblock body %}
