{% extends "_root.html" %}
{% load staticfiles %}

{% block mystyle %}
{# keep this order! #}
<!-- <link rel="stylesheet" href="{% static 'home/css/home.css' %}"> -->
<link rel="stylesheet" href="{% static 'feed/css/_reset_.css' %}">
<link rel="stylesheet" href="{% static 'feed/css/_style_.css' %}">
<script src="{% static 'feed/js/_modernizr_.js' %}"></script>
<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'home_news/common.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'home_news/highnetworth.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'home_news/print.css" media="print'%}">
<link rel="alternate stylesheet" type="text/css" href="{% static 'home_news/textsize-large.css" media="screen" title="textsize-large" disabled=""' %}">
<link rel="alternate stylesheet" type="text/css" href="{% static 'home_news/textsize-extralarge.css" media="screen" title="textsize-extralarge" disabled=""' %}">
{% endblock mystyle %}

{% block myscript %}
<script src="{% static 'feed/js/_main_.js' %}"></script>
<script src="{% static 'feed/js/feed.js' %}"></script>
<script>
    loadActivities();
</script>
<script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock myscript %}

{% block body %}
    <div class="row">
        <div class="col-xs-6" style="margin-top: 40px; line-height: 25px; font-family: Verdana; font-size: 13px;">
            <table class="contentframework" style="margin-left: 253px; width: 395px ; margin-top: 25px;">
<tbody class="contentframework-stripedtable">
<tr>
<th class="contentframework-dataheadertop" width="20%" scope="col"><strong>Date</strong></th>
<th class="contentframework-dataheadertop" width="80%" scope="col"><strong>Title</strong></th>
</tr>
<!--RBC-->
<tr class=" contentframework-altrow">
<th colspan="2" class="contentframework-subheader" id="headerSubheader15" style="font-weight: bold; font-size: 125%;"><h4><a onclick="toggleIcon('content15','icon15');return false" id="icon15" href="#" class="toggleiconlink"> <span class="toggleiconlink-label">RBC NEWS</span></a></h4></th>
</tr>

<tr class="content15     ">
<td headers="headerDate headerSubheader15">Nov. 18</td>
<td headers="headerType headerSubheader15"><a href="http://www.rbc.com/newsroom/news/2015/20151118-wm-retire-cda.html" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>Uncertainty heading into retirement due to lack of planning, not lack of saving: RBC Wealth Management</span></a></td>
</tr>

<tr class="content15 contentframework-altrow   ">
<td headers="headerDate headerSubheader15">Nov. 15</td>
<td headers="headerType headerSubheader15"><a href="http://www.rbc.com/newsroom/news/2015/20151105-best-private-bank.html" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>RBC named “Best Private Bank in Canada” by Global Private Banking Awards for fourth consecutive year</span></a></td>
</tr>

<tr class="content15    ">
<td headers="headerDate headerSubheader15">Nov. 13</td>
<td headers="headerType headerSubheader15"><a href="http://www.rbc.com/newsroom/news/2015/20150617-wwr2015-general.html" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>Global Population of High Net Worth Individuals and their Wealth Hit New Highs</span></a></td>
</tr>

<tr class="content15 contentframework-altrow       ">
<td headers="headerDate headerSubheader15">Nov. 10</td>
<td headers="headerType headerSubheader15"><a href="http://www.rbc.com/newsroom/news/2015/20150617-wwr-spotlight.html" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>Persistent industry challenges and needs of younger HNWIs are changing the role of Wealth Managers, finds World Wealth Report 2015</span></a></td>
</tr>
<!--RBC-end-->

<!--FIANCE-->
<tr class=" contentframework-altrow">
<th colspan="2" class="contentframework-subheader" id="headerSubheader15" style="font-weight: bold; font-size: 125%;"><h4><a onclick="toggleIcon('content15','icon15');return false" id="icon15" href="#" class="toggleiconlink"> <span class="toggleiconlink-label">FIANCE</span></a></h4></th>
</tr>

<tr class="content15 contentframework-altrow">
<td headers="headerDate headerSubheader15">Nov. 19</td>
<td headers="headerType headerSubheader15"><a href="http://www.bloomberg.com/news/articles/2015-11-03/30-000-banking-jobs-to-go-as-standard-chartered-joins-in-cuts" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>Europe’s Biggest Banks Are Cutting 30,000 Jobs</span> </a></td>
</tr>



<!--Real Estate-->
<tr class=" contentframework-altrow">
<th colspan="2" class="contentframework-subheader" id="headerSubheader15" style="font-weight: bold; font-size: 125%;"><h4><a onclick="toggleIcon('content15','icon15');return false" id="icon15" href="#" class="toggleiconlink"> <span class="toggleiconlink-label">REAL ESTATE</span></a></h4></th>
</tr>

<tr class="content15 ">
<td headers="headerDate headerSubheader15">Nov. 19</td>
<td headers="headerType headerSubheader15"><a href="http://www.bloomberg.com/news/articles/2015-11-11/deutsche-bank-sells-frankfurt-triangle-site-to-gross-partner" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>Deutsche Bank Sells Frankfurt ‘Triangle’ Site to Gross & Partner</span> </a></td>
</tr>



<!--FIANCE-->
<tr class=" contentframework-altrow">
<th colspan="2" class="contentframework-subheader" id="headerSubheader15" style="font-weight: bold; font-size: 125%;"><h4><a onclick="toggleIcon('content15','icon15');return false" id="icon15" href="#" class="toggleiconlink"> <span class="toggleiconlink-label">IIROC</span></a></h4></th>
</tr>

<tr class="content15 contentframework-altrow">
<td headers="headerDate headerSubheader15">Nov. 20</td>
<td headers="headerType headerSubheader15"><a href="http://www.iiroc.ca/Documents/2015/1b6eda04-7315-428b-8785-9c99b05a5d7d_en.pdf" onclick="return popupHelp(this.href)" title="(opens new window)" target="_blank" class="linkedtextandicon"><span>Financial services regulators collaborate to strengthen investor protection</span> </a></td>
</tr>



</tbody>
</table>
        </div>
        <div class="col-xs-6" style="margin-top: 20px">
            <div id="feed"></div>
        </div>
    </div>



    {% include 'chat/_chat.html' %}

{% endblock body %}
