{% load staticfiles %}

<header>
    <h1>RBC Wealth Management</h1>
</header>

<section id="cd-timeline" class="cd-container">
{% for activity in activities %}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="{% static 'feed/imgs/cd-icon-picture.svg' %}">
        </div>

        <div class="cd-timeline-content">
            <h2>{{ activity.initiator }}</h2>
            <p>{{ activity.text }}</p>
            <a href="#" class="cd-read-more">comment</a>
            <span class="cd-date">{{ activity.date }}</span>
        </div>
    </div>
{% endfor %}
</section>
