{% load staticfiles %}
{% load humanize %}
{% for activity in activities %}
    <div class="cd-timeline-block {% if activity.is_important %}urgent{% endif %}">
        <div class="cd-timeline-img cd-picture {% if activity.is_important %}urgent{% endif %}">
            <img src="{% static 'feed/imgs/icon.png' %}">
        </div>

        <div class="cd-timeline-content">
            <h2>{{ activity.initiator }}</h2>
            <p>{{ activity.text }}</p>
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <textarea rows="1" maxlength="200" class="form-control" id="text" placeholder="Any thought on this, Mr. Ross?"></textarea>
                </div>
                <button type="button" class="btn btn-primary" id="submit">submit</button>
                <i class="fa fa-thumbs-o-up pull-right give-thumbs" style="margin-top: 10px; margin-right: 10px; cursor: pointer;"></i>
            </form>
            <span class="cd-date">{{ activity.date }}</span>
        </div>
    </div>
{% endfor %}
