{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    <title>RBC Wealth Management</title>
    {% endblock %}

    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="{% static 'common/css/common.css' %}"> #}
    {% block mystyle %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {# <script src="{% static 'common/js/common.js' %}"></script> #}
    {% block myscript %}{% endblock %}
</body>
</html>
